@import "reset";

$border-radius: 1rem;

.Card {
  background: linear-gradient(45deg, #F48B29 45%, #53C0DD 45%, #53C0DD 55%, #F48B29 55%);
  width: 30%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: $border-radius;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  color: #fff;
  font-size: large;
  width: 100%;
  margin-bottom: 1rem;
}

.Card div {
  width: 7rem;
  margin: .5rem;
  padding: .5rem;
  background-color: #FBECDC;
  border-radius: $border-radius;
  & img {
    width: 3rem;
  }
  .javascript-img {
    width: 5rem;
  }
  .php-img {
    padding-top: .5rem;
  }
}
