@import "reset", "logo", "description";

$border-radius: 1rem;

.Card {
  position: relative;
  width: 7.5rem;
  height: 5rem;
  margin: .5rem;
  padding: .5rem;
  background-color: #FBECDC;
  border-radius: $border-radius;

  &:hover {
    box-shadow: 0 0 .2rem .2rem palevioletred;
    cursor: pointer;
  }
}
