.App {
  text-align: center;
  background-color: black;
}

.container {
  background-image: linear-gradient(to right, #F4D161 0%, #FBEEAC 100%);
  width: 70%;
  margin: auto;
  padding: 2rem 0 1.7rem;
}
